node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.env_prod
dist
.DS_Store
.output*.zip
etc/
.config/
.img-upload/
.help-manual/

deploy-scripts/blockchain-hosts.json
deploy-scripts/vm-secret.txt
deploy-scripts/Readme.txt
dga-evote-key-setting-file.zip