<!DOCTYPE html>
<html lang="en">
  <%- include('common/header', {}); %>
  <body>
    <%- include('common/nav', {isAdmin,isAdmin}); %>
    <div class="container">
        <div class="row" id="register_row">
            <div class="col-md-6" id="cam_col">
                <video autoplay id="camera"></video>
                <button id="take_snapshots" class="btn btn-secondary btn-lg btn-block" hidden>Capture</button>
                <canvas id='snapshots'></canvas>
            </div>
            <div class="col-md-6" id="reg_col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Register</h1>
                        <p class="lead">
                            <form id="register_form" method="post" action="/register" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                                    <small class="form-text text-muted">Name as on your Nation ID Card</small>
                                </div>
                                <div class="form-group">
                                    <label for="nationid">Nation ID</label>
                                    <input type="text" class="form-control" id="nationid" name="nationid" placeholder="Enter Nation ID Number">
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="register_btn" class="btn btn-success btn-lg btn-block" disabled>Submit</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>