<!DOCTYPE html>
<html lang="en">
  <%- include('common/header', {}); %>
  <body>
    <%- include('common/nav', {isAdmin,isAdmin}); %>
    <script src="dist/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <style>
      canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    </style>
    <div class="container mt-2">
      <div id="result_topic_select" style="display: none;">
        <h2>Select Topic</h2>
        <div class="input-group ">
          <select id="topic_select" class="custom-select"></select>
          <div class="input-group-append">
            <button type="button" id="refresh" class="btn btn-success">Refresh</button>
          </div>
        </div>
      </div>

      <div id="canvas-holder" style="width:100%">
        <canvas id="chart-area"></canvas>
      </div>
    </div>
  </body>
</html>