<!DOCTYPE html>
<html lang="en">
  <%- include('common/header', {}); %>
  <body>
    <%- include('common/nav', {isAdmin,isAdmin}); %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-center">Welcome to the Voting Phase</h1>
                        <p class="lead text-center">
                            <small id="txtmsg">Select Topic</small>
                            <hr>
                            <div class="lds-css ng-scope" >
                                <div class="lds-spinner" style="width: 100%;height:100%; margin: 0 auto; display: none;">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="text-center" style="margin: 0 auto;">
                                    <img src="" id="qr_img" style="margin: 0 auto; display:block;">
                                    <br>
                                </div>
                            </div>
                            <div id="select_topic_div">
                                <select id="topic_select" class="custom-select my-2"></select>
                                <div type="button" class="file btn btn-success btn-lg btn-block" id="select_topic_btn" style="position: relative;overflow: hidden;">
                                    Select Topic
                                </div>
                            </div>
                            <div type="button" class="file btn btn-success btn-lg btn-block" id="upload_qr" style="position: relative;display: none;
                                overflow: hidden;">
                                <input type="file" name="file" id="qr_file" style="position: absolute;
                                font-size: 50px;
                                opacity: 0;
                                right: 0;
                                top: 0;" accept="image/*" />
                                Upload My QR Code
                            </div>

                            <form id="verify_form" method="post" action="/verifyvoter" enctype="multipart/form-data">
                                <div style="display:none;">
                                    <input type="hidden" class="form-control" id="qrdata" name="qrdata" filename="name1">
                                    <input type="hidden" class="form-control" id="avatar" name="avatar" filename="name">
                                </div>
                                <div type="button" class="btn btn-primary btn-lg btn-block" id="submit_qr" style="position: relative; overflow: hidden; display:none;">
                                    Submit My QR Code
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>