@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Mitr", system-ui, sans-serif;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    @apply text-dga-blue;
  }

  .custom-content-container ul > li {
    list-style-type: "-";
    @apply ml-6 pl-2;
  }

  .custom-content-container a {
    @apply underline;
  }

  .custom-content-container table {
    @apply border-2 border-dga-blue;
  }
  .custom-content-container table th, .custom-content-container table td {
    @apply p-2 border border-dga-blue;
  }
}

@layer components {
  .dga-evote-input {
    @apply transition duration-200 border border-gray-200 rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-opacity-75;
  }
}